<div id="page-sidebar" class="bg-gradient-9 font-inverse" style="height: 1400px">
  <div class="scroll-sidebar">
    <ul id="sidebar-menu" data-widget="treeview">
      <li class="no-menu">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-th"></i>
          <span>{{ 'Accueil' }}</span>
        </a>
      </li>

      <li class="no-menu">
        <a routerLink="categorie" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-tag"></i>
          <span>{{ 'Catégories' }}</span>
        </a>
      </li>

      <li class="no-menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="subcategorie">
          <i class="fas fa-tags"></i>
          <span>{{ 'Sous-catégories' }}</span>
        </a>
      </li>
      <!-- <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-chart-pie"></i>
            <span>{{ 'Produits' }}</span>
            <i class="right fas fa-angle-right" style="float: right;margin-top: 8px;"></i>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
          <li class="nav-item">
            <a href="pages/charts/chartjs.html" class="nav-link">
              <span>ChartJS</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/charts/flot.html" class="nav-link">
              <span>Flot</span>
            </a>
          </li>
        </ul>
      </li> -->
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fas fa-cubes"></i>
          <span>{{ 'Produits' }}</span>
          <i class="right fas fa-angle-right" style="float: right; margin-top: 8px"></i>
        </a>

        <ul class="nav nav-treeview" style="display: none">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="product">
              <span>{{ 'Liste des produits' }}</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="['/product/new']" class="nav-link">
              <span>{{ 'nouveau produit' }} </span>
            </a>
          </li>
          <!-- <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="subcategorie" class="nav-link">
              <span>{{ 'Télécharger produit vrac' }} </span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a routerLink="subcategorie" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span>{{ 'imprimer le code à barres' }} </span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a routerLink="subcategorie" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span>{{ 'Imprimer CB par facture' }} </span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a routerLink="subcategorie" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span>{{ 'Articles endommagés' }}</span>
            </a>
          </li> -->
        </ul>
      </li>

      <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link">
          <i class="fas fa-users"></i>
          <span>Personnes</span>
          <i class="right fas fa-angle-right" style="float: right; margin-top: 8px"></i>
        </a>
        <ul class="nav nav-treeview" style="display: none">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="person/client">
              <i class=""></i>
              <span>{{ 'Clients' }}</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="person/fournisseur">
              <i class=""></i>
              <span>{{ 'Fournisseurs' }} </span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link">
          <i class="fas fa-ship"></i>
          <span>{{ 'Achats' }}</span>
          <i class="right fas fa-angle-right" style="float: right; margin-top: 8px"></i>
        </a>
        <ul class="nav nav-treeview" style="display: none">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="purchase">
              <span>{{ 'Liste des achats' }}</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="purchase/new">
              <span>{{ 'nouvel achat' }}</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a href="javascript:void(0);" class="nav-link">
          <i class="fas fa-shopping-cart"></i> <span>{{ 'Ventes' }}</span>
          <i class="right fas fa-angle-right" style="float: right; margin-top: 8px"></i>
        </a>
        <ul class="nav nav-treeview" style="display: none">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="sell">
              <span>{{ 'Liste des ventes' }}</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="sell/new">
              <span>{{ 'Nouvelle vente' }}</span>
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="sell/pos">
              <span>{{ 'POS vente' }}</span>
            </a>
          </li>
          <!-- <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="sell/new">
              <span>{{ 'Retour de vente' }}</span>
            </a>
          </li> -->
        </ul>
      </li>

      <li class="no-menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="transaction">
          <i class="fas fa-money"></i>
          <span>{{ 'Transactions' }}</span>
        </a>
      </li>

      <!-- <li>
        <a href="javascript:void(0);">
          <i class="fas fa-usd"></i>
          <span>{{ 'Expenses' }}</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li>
              <a routerLink="subcategorie" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>{{ 'Expense' }}</span>
              </a>
            </li>
            <li>
              <a routerLink="subcategorie" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <span>{{ 'Expense Categorie' }}</span>
              </a>
            </li>
          </ul>
        </div>
      </li> -->

      <li class="no-menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="settings">
          <i class="fas fa-pie-chart"></i>
          <span>paramétres</span>
        </a>
      </li>

      <!-- <li class="no-menu">
        <a routerLink="subcategorie" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas fa-industry"></i>
          <span>{{ 'dépot' }}</span>
        </a>
      </li> -->

      <li class="no-menu" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="report">
          <i class="fas fa-pie-chart"></i>
          <span>report</span>
        </a>
      </li>
    </ul>
    <!-- #sidebar-menu -->
  </div>
</div>
