<div id="page-title">
  <h3>Liste des catégories</h3>
</div>
<div class="panel">
  <div class="panel-heading">
    <a [routerLink]="['/categorie/new']" class="btn btn-success btn-alt btn-xs">
      <i class="fa fa-plus"></i>
      {{ 'Create a new category' }}
    </a>
  </div>

  <div class="panel-body">
    <div class="table-responsive" style="min-height: 300px">
      <table cellpadding="0" cellspacing="0" class="table table-striped table-bordered">
        <thead class="bg-gradient-9">
          <tr>
            <td class="text-center font-white">#</td>
            <td class="text-center font-white">{{ 'Name' }}</td>
            <td class="text-center font-white">{{ 'Subcategory' }}</td>
            <td class="text-center font-white">{{ 'Actions' }}</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let categorie of categories; let index = index" data-cy="entityTable">
            <td class="text-center">{{ index + 1 }}</td>
            <td class="text-center">{{ categorie.categoryName }}</td>
            <td class="text-center">
              <ol>
                <li *ngFor="let subCategory of categorie.subcategories">{{ subCategory.name }}</li>
              </ol>
            </td>
            <td class="text-center">
              <a [routerLink]="['/categorie', categorie.id, 'edit']" class="btn btn-info btn-alt btn-xs">
                <i class="fa fa-edit"></i>
                {{ 'edit' }}
              </a>
              <!-- Delete modal trigger -->
              <a
                type="button"
                (click)="prepareDelete(categorie)"
                class="btn btn-danger btn-alt btn-xs"
                data-toggle="modal"
                data-target="#deleteModal"
              >
                <i class="fa fa-trash"></i>
                {{ 'delete' }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row justify-content-center" style="text-align: center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
              {{ selectedCategogy.categoryName }}
            </h4>
          </div>
          <div class="modal-body">
            <h4>
              Êtes-vous sûr de supprimer la catégorie <b>{{ selectedCategogy.categoryName }}</b> ?
            </h4>
            <br />
            <!-- @if(count($category->subcategories) == 0 )

            @else -->
            <h4 style="color: red" *ngIf="(selectedCategogy.subcategories?.length ?? 0) > 0">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              Cette catégorie a {{ selectedCategogy.subcategories?.length }} sous-catégories, elle ne peut donc pas être supprimée !
            </h4>
            <!-- @endif -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button
              type="submit"
              class="btn btn-danger"
              data-dismiss="modal"
              (click)="supprimer()"
              [disabled]="(selectedCategogy.subcategories?.length ?? 0) > 0"
            >
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Search Modal Starts-->
<!-- <div class="modal fade" id="searchModal">
    <div class="modal-dialog">
        <div class="modal-content">
            {!! Form::open(['class' => 'form-horizontal']) !!}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> {{ trans('core.search').' '.trans('core.category') }}</h4>
            </div>

            <div class="modal-body">                  
                <div class="form-group">
                    {!! Form::label('Name', trans('core.name'), ['class' => 'col-sm-3']) !!}
                    <div class="col-sm-9">
                        {!! Form::text('name', Request::get('name'), ['class' => 'form-control']) !!}
                    </div>
                </div>                                            
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{trans('core.close')}}</button>
                {!! Form::submit('Search', ['class' => 'btn btn-primary', 'data-disable-with' => trans('core.searching')]) !!}
            </div>
            {!! Form::close() !!}
        </div>
    </div>
</div> -->
<!-- <div>
  <h2 id="page-heading" data-cy="CategorieHeading">
    <span>Categories</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-categorie"
        [routerLink]="['/categorie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Categorie </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categories?.length === 0">
    <span>No categories found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="categories && categories.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="categoryName"><span>Category Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="deletedAt"><span>Deleted At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categorie of categories; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/categorie', categorie.id, 'view']">{{ categorie.id }}</a>
          </td>
          <td>{{ categorie.categoryName }}</td>
          <td>{{ categorie.createdAt | formatMediumDatetime }}</td>
          <td>{{ categorie.updatedAt | formatMediumDatetime }}</td>
          <td>{{ categorie.deletedAt | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/categorie', categorie.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/categorie', categorie.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(categorie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categories && categories.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
 -->
