<div id="page-title">
  <h3>liste de ventes d'aujourd'hui</h3>
</div>
<div class="panel">
  <div class="panel-heading">
    <a class="btn btn-primary btn-alt btn-xs pull-right" id="searchButton">
      <i class="fa fa-search"></i>
      Search
    </a>

    <input
      type="button"
      class="btn btn-alt bg-purple btn-xs"
      (click)="showenSummary = !showenSummary"
      id="summaryBtn"
      [value]="showenSummary ? 'Liste d\'achat' : 'Résumé'"
    />
  </div>

  <div class="panel-body">
    <div id="summaryDiv" *ngIf="showenSummary">
      <table style="width: 100%" class="table table-bordered">
        <tbody>
          <tr style="background-color: #f8f9f9; border: 1px solid #ddd">
            <td style="text-align: right">
              <b>Total net :</b>
            </td>
            <td>{{ resume.total.toFixed(2) }} dh</td>
          </tr>

          <tr style="background-color: #f8f9f9; border: 2px solid #ddd">
            <td style="text-align: right">
              <b>Payé :</b>
            </td>
            <td>{{ resume.paid.toFixed(2) }} dh</td>
          </tr>

          <tr style="background-color: #f8f9f9; border: 1px solid #ddd">
            <td style="text-align: right">
              <b>Réste :</b>
            </td>
            <td>{{ (resume.total - resume.paid).toFixed(2) }} dh</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive" style="min-height: 250px" id="tableDIv" *ngIf="!showenSummary">
      <table class="table table-bordered table-striped">
        <thead class="bg-gradient-9">
          <tr>
            <td class="text-center font-white">Time</td>
            <td class="text-center font-white">Facture No</td>
            <td class="text-center font-white">Client</td>
            <td class="text-center font-white">Net Total</td>
            <td class="text-center font-white">Paid</td>
            <td class="text-center font-white">Actions</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let transaction of transactions; trackBy: trackId" data-cy="entityTable">
            <td class="text-center tooltip-button" data-placement="bottom">
              {{ transaction.date | formatTime }}
            </td>

            <td class="text-center">
              {{ transaction.referenceNo }}
            </td>

            <td class="text-center">
              {{ transaction.person?.firstName + ' ' + transaction.person?.lastName }}
            </td>

            <td class="text-center">
              {{ transaction.netTotal + ' DH' }}
            </td>

            <td class="text-center">
              {{ transaction.paid + ' DH' }}
            </td>

            <td class="text-center">
              <a (click)="generateBill(transaction)" class="btn btn-warning btn-alt btn-xs">
                <i class="fa fa-print"></i>
                Bill
              </a>
              <a [routerLink]="['/sell', transaction.id, 'view']" class="btn btn-alt btn-purple btn-xs"> Details </a>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Pagination-->
      <div class="row justify-content-center" style="text-align: center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
      <!--Ends-->
    </div>
  </div>
</div>
