<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="payment">
      <h2 data-cy="paymentDetailsHeading"><span>Payment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ payment.id }}</span>
        </dd>
        <dt><span>Amount</span></dt>
        <dd>
          <span>{{ payment.amount }}</span>
        </dd>
        <dt><span>Method</span></dt>
        <dd>
          <span>{{ payment.method }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ payment.type }}</span>
        </dd>
        <dt><span>Reference No</span></dt>
        <dd>
          <span>{{ payment.referenceNo }}</span>
        </dd>
        <dt><span>Note</span></dt>
        <dd>
          <span>{{ payment.note }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ payment.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ payment.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
          <span>{{ payment.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Deleted At</span></dt>
        <dd>
          <span>{{ payment.deletedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Person</span></dt>
        <dd>
          <div *ngIf="payment.person">
            <a [routerLink]="['/person', payment.person?.id, 'view']">{{ payment.person?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/payment', payment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
