<div id="page-title">
  <h3>
    Purchase List <span *ngIf="person?.id">{{ ' - ' + (person?.firstName ?? '') + ' ' + (person?.lastName ?? '') }}</span>
  </h3>
</div>
<div class="panel">
  <div class="panel-heading" *ngIf="!person?.id">
    <a routerLink="/purchase/new" class="btn btn-success btn-alt btn-xs" style="border-radius: 0px !important">
      <i class="fa fa-plus"></i>
      Create New Purchase
    </a>

    <a class="btn btn-primary btn-alt btn-xs pull-right" id="searchButton">
      <i class="fa fa-search"></i>
      Search
    </a>

    <input
      type="button"
      class="btn btn-alt bg-purple btn-xs"
      (click)="showenSummary = !showenSummary"
      id="summaryBtn"
      [value]="showenSummary ? 'Liste d\'achat' : 'Résumé'"
    />
  </div>

  <div class="panel-body">
    <div id="summaryDiv" *ngIf="showenSummary">
      <table style="width: 100%" class="table table-bordered">
        <tbody>
          <tr style="background-color: #f8f9f9; border: 1px solid #ddd">
            <td style="text-align: right">
              <b>Net Total :</b>
            </td>
            <td>DH 8000.00</td>
          </tr>

          <tr style="background-color: #f8f9f9; border: 2px solid #ddd">
            <td style="text-align: right">
              <b>Total Vat :</b>
            </td>
            <td>DH 0.00</td>
          </tr>

          <tr style="background-color: #f8f9f9; border: 1px solid #ddd">
            <td style="text-align: right">
              <b>Net Total :</b>
            </td>
            <td>DH 8000.00</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive" style="min-height: 250px" id="tableDIv" *ngIf="!showenSummary">
      <table class="table table-bordered table-striped">
        <thead class="bg-gradient-9">
          <tr>
            <td class="text-center font-white">Date</td>
            <td class="text-center font-white">Bill No</td>
            <td class="text-center font-white">Supplier</td>
            <td class="text-center font-white">Net Total</td>
            <td class="text-center font-white">Paid</td>
            <td class="text-center font-white">Actions</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let transaction of transactions; trackBy: trackId" data-cy="entityTable">
            <td class="text-center tooltip-button" data-placement="bottom">
              {{ transaction.date | formatMediumDatetime }}
            </td>

            <td class="text-center">
              {{ transaction.referenceNo }}
            </td>

            <td class="text-center">
              {{ transaction.person?.firstName + ' ' + transaction.person?.lastName }}
            </td>

            <td class="text-center">
              {{ transaction.netTotal + ' DH' }}
            </td>

            <td class="text-center">
              {{ transaction.paid + ' DH' }}
            </td>

            <td class="text-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-info btn-alt btn-xs dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Actions
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a [routerLink]="['/purchase', transaction.id, 'view']">
                      <i class="fa fa-eye" style="color: #269fed"></i>
                      Details
                    </a>
                  </li>
                  <li>
                    <a target="_BLINK">
                      <i class="fa fa-print" style="color: #edb426"></i>
                      Bill
                    </a>
                  </li>

                  <li>
                    <!--purchase delete button trigger-->
                    <a href="#" data-id="5" data-name="2021/08/P-0002" class="btn-delete">
                      <i class="fa fa-trash" style="color: red"></i>
                      Delete
                    </a>
                    <!--delete button trigger ends-->
                  </li>

                  <!-- <li>
                    <a href="">
                        <i class="fa fa-usd" style="color: #89108f;"></i>
                        Payment
                    </a>
                </li> -->
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Pagination-->
      <div class="row justify-content-center" style="text-align: center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
      <!--Ends-->
    </div>
  </div>
</div>
<!-- <div>
  <h2 id="page-heading" data-cy="PurchaseHeading">
    <span>Purchases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchase"
        [routerLink]="['/purchase/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Purchase </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="purchases?.length === 0">
    <span>No purchases found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="purchases && purchases.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="referenceNo"><span>Reference No</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity"><span>Quantity</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subTotal"><span>Sub Total</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="productTax"><span>Product Tax</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="deletedAt"><span>Deleted At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="person.id"><span>Person</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="product.name"><span>Product</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let purchase of purchases; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/purchase', purchase.id, 'view']">{{ purchase.id }}</a>
          </td>
          <td>{{ purchase.referenceNo }}</td>
          <td>{{ purchase.quantity }}</td>
          <td>{{ purchase.subTotal }}</td>
          <td>{{ purchase.productTax }}</td>
          <td>{{ purchase.date | formatMediumDatetime }}</td>
          <td>{{ purchase.createdAt | formatMediumDatetime }}</td>
          <td>{{ purchase.updatedAt | formatMediumDatetime }}</td>
          <td>{{ purchase.deletedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="purchase.person">
              <a [routerLink]="['/person', purchase.person?.id, 'view']">{{ purchase.person?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="purchase.product">
              <a [routerLink]="['/product', purchase.product?.id, 'view']">{{ purchase.product?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/purchase', purchase.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/purchase', purchase.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(purchase)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="purchases && purchases.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
 -->
