<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="subcategorie">
      <h2 data-cy="subcategorieDetailsHeading"><span>Subcategorie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ subcategorie.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ subcategorie.name }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ subcategorie.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
          <span>{{ subcategorie.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Deleted At</span></dt>
        <dd>
          <span>{{ subcategorie.deletedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Categorie</span></dt>
        <dd>
          <div *ngIf="subcategorie.categorie">
            <a [routerLink]="['/categorie', subcategorie.categorie?.id, 'view']">{{ subcategorie.categorie?.categoryName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/subcategorie', subcategorie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
