<!-- <div id="loading" >
  <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
  </div>
</div> -->

<div id="page-wrapper">
  <router-outlet name="navbar" *ngIf="account !== null"></router-outlet>
  <jhi-sidebar *ngIf="account !== null"></jhi-sidebar>
  <div id="page-content-wrapper">
    <div id="{{ account ? 'page-content' : '' }}" [ngStyle]="{ 'min-height: 600px;': account !== null }">
      <div [ngClass]="{ container: account !== null }">
        <!-- @include('partials.contentheader')
          @include('partials.messages') -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<jhi-footer></jhi-footer>
<!-- <div class="" *ngIf="account !== null">
  <jhi-page-ribbon></jhi-page-ribbon>
  <div>
    <router-outlet name="navbar"></router-outlet>
  </div>
</div>
<div  [ngClass]="{'container-fluid': account !== null}">
  <div  [ngClass]="{'card jh-card': account !== null}">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="account !== null">
    <jhi-footer></jhi-footer>
  </div>
</div> -->
