<div id="page-title">
  <h3>Products</h3>
</div>
<div class="panel">
  <div class="panel-heading">
    <a [routerLink]="['/product/new']" class="btn btn-success btn-alt btn-xs" style="border-radius: 0px !important">
      <i class="fa fa-plus"></i>
      Create New Product
    </a>

    <span class="pull-right">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-warning btn-alt btn-xs dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="exportexcel()" title="Export Excel">
              <i class="fa fa-file-excel-o" style="color: #12a823"></i>
              Download Excel
            </a>
          </li>
        </ul>
      </div>

      <a class="btn btn-primary btn-alt btn-xs" id="searchButton">
        <i class="fa fa-search"></i>
        Search
      </a>
    </span>
  </div>

  <div class="panel-body">
    <div class="table-responsive" style="min-height: 300px">
      <table class="table table-bordered table-striped" id="products-table">
        <thead class="bg-gradient-9">
          <tr>
            <td class="text-center font-white"># &nbsp;&nbsp;</td>
            <td class="text-center font-white">Name</td>
            <td class="text-center font-white">In Stock</td>
            <td class="text-center font-white">Actions</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let product of products; trackBy: trackId; let index = index" data-cy="entityTable">
            <td class="text-center">{{ index + 1 }}</td>
            <td class="text-center">
              {{ product.name + ' ( ' + product.code + ' ) ' }}
            </td>
            <td class="text-center">
              {{ product.quantity }}
            </td>

            <td class="text-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-info btn-alt btn-xs dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li>
                    <a [routerLink]="['/product', product.id, 'edit']" title="Edit">
                      <i class="fa fa-edit" style="color: #069996"></i>
                      Edit
                    </a>
                  </li>

                  <li>
                    <a data-toggle="modal" data-target="#priceUpdate" (click)="setSelectedProduct(product, true)">
                      <i class="fa fa-usd" style="color: #0ad629"></i>
                      Update Price
                    </a>
                  </li>

                  <!-- product delete modal trigger -->
                  <li>
                    <a data-toggle="modal" data-target="#deleteModal" (click)="setSelectedProduct(product)">
                      <i class="fa fa-trash" style="color: #edb426"></i>
                      Delete
                    </a>
                  </li>

                  <li>
                    <!-- product details button -->
                    <a [routerLink]="['/product', product.id, 'view']">
                      <i class="fa fa-eye" style="color: #269fed"></i>
                      Details
                    </a>
                  </li>

                  <!-- Print barcode of a product -->
                  <li>
                    <a [routerLink]="['/product', product.id, 'printBarcode']">
                      <i class="fa fa-barcode" style="color: purple"></i>
                      Print Barcode
                    </a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Price Update Modal -->
      <div class="modal fade" id="priceUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Update {{ selectedProduct?.name }} Price</h4>
            </div>
            <form [formGroup]="editPriceForm">
              <div class="modal-body">
                <div class="form-group">
                  <label>prix de revient</label>
                  <input
                    type="text"
                    name="cost_price"
                    class="form-control number"
                    formControlName="costPrice"
                    id="cost_price"
                    onkeypress="return event.charCode <= 57 && event.charCode != 32"
                  />
                </div>

                <div class="form-group">
                  <label>prix de vente</label>
                  <input type="text" name="mrp" class="form-control number" formControlName="minimumRetailPrice" />
                  <span id="pinky"></span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary" [disabled]="editPriceForm.invalid" (click)="saveUpdatePrice()">
                  modifier
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Price Update Modal Ends-->

      <!-- modal for delete product -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" id="closeModal2" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">
                {{ selectedProduct?.name }}
              </h4>
            </div>
            <div class="modal-body">
              <h4>
                Êtes-vous sûr de supprimer le produit <b>{{ selectedProduct?.name }}</b
                >?
              </h4>
              <br />

              <h4 style="color: red" *ngIf="countOfTransactionAtSelectedProduct > 0">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Ce produit a trop de transactions, il ne peut donc pas être supprimé !
              </h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-danger" (click)="deleteProduct()" [disabled]="countOfTransactionAtSelectedProduct > 0">
                Supprimer
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- delete modal ends here -->
    </div>
    <!--Pagination-->
    <div class="row justify-content-center" style="text-align: center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
    <!--Ends-->
  </div>

  <!-- Product search modal -->
  <div class="modal fade" id="searchModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST" action="http://localhost/intell/public/admin/product" accept-charset="UTF-8" class="form-horizontal">
          <input name="_token" type="hidden" value="kYmh6WfdzN0J1rKAL0r9Uxdm34AroDLKHEpl1a2W" />
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Search Product</h4>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="Name" class="col-sm-3">Name</label>
              <div class="col-sm-9">
                <input class="form-control" name="name" type="text" />
              </div>
            </div>

            <div class="form-group">
              <label for="Product Code" class="col-sm-3">Product Code</label>
              <div class="col-sm-9">
                <input class="form-control" name="code" type="text" />
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input class="btn btn-primary" data-disable-with="core.searching" type="submit" value="Search" />
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- search modal ends -->
</div>

<!-- <div>
  <h2 id="page-heading" data-cy="ProductHeading">
    <span>Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product"
        [routerLink]="['/product/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Product </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
    <span>No products found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="products && products.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="code"><span>Code</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quantity"><span>Quantity</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="details"><span>Details</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="costPrice"><span>Cost Price</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="minimumRetailPrice"><span>Minimum Retail Price</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="unit"><span>Unit</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="status"><span>Status</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="image"><span>Image</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="openingStock"><span>Opening Stock</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="alertQuantity"><span>Alert Quantity</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdAt"><span>Created At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="deletedAt"><span>Deleted At</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="categorie.categoryName"><span>Categorie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subCategorie.name"><span>Sub Categorie</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="taxe.name"><span>Taxe</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product', product.id, 'view']">{{ product.id }}</a>
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.code }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.details }}</td>
          <td>{{ product.costPrice }}</td>
          <td>{{ product.minimumRetailPrice }}</td>
          <td>{{ product.unit }}</td>
          <td>{{ product.status }}</td>
          <td>{{ product.image }}</td>
          <td>{{ product.openingStock }}</td>
          <td>{{ product.alertQuantity }}</td>
          <td>{{ product.createdAt | formatMediumDatetime }}</td>
          <td>{{ product.updatedAt | formatMediumDatetime }}</td>
          <td>{{ product.deletedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="product.categorie">
              <a [routerLink]="['/categorie', product.categorie?.id, 'view']">{{ product.categorie?.categoryName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="product.subCategorie">
              <a [routerLink]="['/subcategorie', product.subCategorie?.id, 'view']">{{ product.subCategorie?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="product.taxe">
              <a [routerLink]="['/taxe', product.taxe?.id, 'view']">{{ product.taxe?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product', product.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product', product.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="products && products.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
 -->
