<!-- <nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark">
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    <span class="logo-img"></span>
    <span class="navbar-title">Intellpos</span>
    <span class="navbar-version">{{ version }}</span>
  </a>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span>Home</span>
          </span>
        </a>
      </li>
      <li
        *ngSwitchCase="true"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span>Entities</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="return-transaction"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Return Transaction</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="sell"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Sell</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="taxe"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Taxe</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="transaction"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Transaction</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="cash-register"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Cash Register</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="categorie"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Categorie</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="subcategorie"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Subcategorie</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="person"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Person</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="damage"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Damage</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="expense-categorie"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Expense Categorie</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="expense"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Expense</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="payment"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Payment</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="product"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Product</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="purchase"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Purchase</span>
            </a>
          </li>
          
        </ul>
      </li>
      <li
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span>Administration</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
              <span>User management</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
              <span>Metrics</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
              <span>Health</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
              <span>Configuration</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
              <span>Logs</span>
            </a>
          </li>
          <li *ngIf="openAPIEnabled">
            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span>API</span>
            </a>
          </li>
         </ul>
      </li>
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
          <span *ngIf="!account?.imageUrl">
            <fa-icon icon="user"></fa-icon>
            <span>Account</span>
          </span>
          <span *ngIf="account?.imageUrl">
            <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
          <li *ngSwitchCase="true">
            <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
              <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
              <span>Settings</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="account/password"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="passwordItem"
            >
              <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
              <span>Password</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
              <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
              <span>Sign out</span>
            </a>
          </li>
          <li *ngSwitchCase="false">
            <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
              <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
              <span>Sign in</span>
            </a>
          </li>
          <li *ngSwitchCase="false">
            <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" data-cy="register">
              <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
              <span>Register</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
 -->

<div id="page-header" class="bg-gradient-9">
  <div id="mobile-navigation">
    <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
    <a href="" class="logo-content-small" title="Intell Pos"></a>
  </div>

  <div id="header-logo" class="logo-bg">
    <a routerLink="/" class="logo-content-big" title="site_name"> </a>
    <a routerLink="/" class="logo-content-small" title="site_name"> </a>
    <a id="close-sidebar" (click)="toggleSidebar()" title="Close sidebar">
      <i class="fas" [ngClass]="{ 'fa-angle-left': isSidebarCollapsed, 'fa-angle-right': !isSidebarCollapsed }"></i>
    </a>
  </div>

  <div id="header-nav-left">
    <div class="user-account-btn dropdown">
      <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
        <img src="content/img/default.png" class="user-image" alt="user imf" />
        <span style="display: block; height: 20px">{{ account?.firstName }} </span>
        <i class="fas fa-angle-down"></i>
      </a>
      <div class="dropdown-menu float-left">
        <div class="box-sm">
          <div class="login-box clearfix">
            <div class="user-img">
              <!-- <a href="#" title="" class="change-img">Change photo</a> -->
              <img src="content/img/default.png" class="user-image" alt="" />
            </div>
            <div class="user-info">
              <span>
                {{ (account?.firstName ?? '') + ' ' + (account?.lastName ?? '') }}
              </span>
            </div>
            <a
              class="dropdown-item"
              routerLink="account/password"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="passwordItem"
            >
              <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
              <span>Changer mon mot de passe</span>
            </a>
            <!-- <a  href="">changer mon mot de passe</a> -->
          </div>
          <div class="divider"></div>
          <ul class="reset-ul mrg5B">
            <li>
              <a routerLink="account/settings">
                <i class="fa float-right fa-caret-right"></i>
                Voir les détails du compte
              </a>
            </li>
          </ul>
          <div class="pad5A button-pane button-pane-alt text-center">
            <a (click)="logout()" class="btn display-block font-normal btn-danger">
              <i class="fas fa-power-off"></i>
              {{ 'déconnexion' }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- #header-nav-left -->

  <div id="header-nav-right">
    <!--fulscreen-->
    <a
      (click)="isFullScreenMode ? closeFullscreen() : openFullscreen()"
      class="hdr-btn tooltip-button hidden-xs"
      id="fullscreen-btn"
      data-placement="bottom"
      title="Fullscreen"
      style="cursor: pointer"
    >
      <i class="fas fa-expand-arrows-alt" *ngIf="!isFullScreenMode"></i>
      <i class="far fa-compress-arrows-alt" *ngIf="isFullScreenMode"></i>
    </a>
    <!--ends-->

    <!--View cash status-->

    <!-- <a
      data-toggle="modal"
      data-target="#myCashStatus"
      href="#"
      class="hdr-btn tooltip-button hidden-xs"
      data-placement="bottom"
      title="Cash Status"
    >
      <i class="far fa-money-bill-alt"></i>
    </a> -->
    <!--cash status ends-->

    <!--View Today's profit-->
    <!-- <a onclick="profitCalc()" href="#" class="hdr-btn tooltip-button" data-placement="bottom" title="Profit / Loss">
      <i class="far fa-line-chart"></i>
    </a> -->
    <!--View Today's profit Ends-->

    <!--Calculator-->
    <!-- <div class="dropdown hidden-xs" id="notifications-btn">
      <a href="#" data-toggle="dropdown" data-placement="bottom" title="Calculator" class="tooltip-button">
        <i class="far fa-calculator" style="color: #fff; opacity: 0.8; font-size: 20px"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right @else float-right @endif box-md">
        <div class="scrollable-content scrollable-slim-box"></div>
      </div>
    </div> -->
    <!--Calculator-->

    <a routerLink="sell/pos" class="header-btn tooltip-button hidden-xs" data-placement="bottom" title="POS">
      <i class="far fa-desktop" style="color: #fff; opacity: 0.8; font-size: 20px"></i>
    </a>

    <!--Notification-->

    <div class="dropdown hidden-xs" id="notifications-btn">
      <a
        data-toggle="dropdown"
        href="#"
        data-placement="bottom"
        title="Alert Products"
        class="tooltip-button"
        [ngStyle]="{ 'background-color': productsAlertQuantity.length > 0 ? '#ffe941cc' : 'transparent' }"
      >
        <i
          class="far fa-bell"
          [ngClass]="{ 'icon-product-alert': productsAlertQuantity.length > 0, 'icon-product-no-alert': productsAlertQuantity.length <= 0 }"
        >
        </i>
      </a>

      <div class="dropdown-menu float-right box-md">
        <div class="popover-title display-block clearfix pad10A">
          {{ 'Alerte pour ' + productsAlertQuantity.length + ' produits' }}
        </div>

        <div class="scrollable-content scrollable-slim-box">
          <ul class="no-border notifications-box">
            <li>
              <ul>
                <li *ngFor="let product of productsAlertQuantity">
                  <ul>
                    <li>
                      <span class="bg-danger icon-notification glyph-icon icon-bullhorn"></span>
                      {{ product.name + ' ( ' + (product.quantity ?? 0) + ' ' + (product.unit ?? '') + ' )' }}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="pad10A button-pane button-pane-alt text-center">
          <a routerLink="product/alert" class="btn btn-primary" title="View all notifications"> View all notifications </a>
        </div>
      </div>
    </div>
    <!--Notification Ends-->
    <!--Notification Ends-->

    <!--Language Swithcer -->
    <!-- <div class="dropdown" id="dashnav-btn">
      <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="Language">
        <i class="fas fa-language" style="color: #fff; opacity: 0.8; font-size: 20px"></i>
      </a>
      <div class="dropdown-menu float-right">
        <div class="box-sm">
          <div class="pad5T pad5B pad10L dashboard-buttons clearfix">
            <a href="" class="btn vertical-button hover-green" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Saudi_Arabia.png" width="20" height="20" />
              </span>
              Arabic
            </a>

            <a href="" class="btn vertical-button hover-green" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Bangladesh.png" width="20" height="20" />
              </span>
              Bengali
            </a>

            <a href="" class="btn vertical-button hover-green" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Portugal.png" width="20" height="20" />
              </span>
              <span class="tooltip-button" title="Brazilian Portuguese">Portuguese</span>
            </a>

            <a href="" class="btn vertical-button hover-red-alt" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_United_Kingdom.png" width="20" height="20" />
              </span>
              English
            </a>

            <a href="" class="btn vertical-button hover-blue-alt" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_France.png" width="20" height="20" />
              </span>
              French
            </a>

            <a href="" class="btn vertical-button hover-germany-alt" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Germany.png" width="20" height="20" />
              </span>
              German
            </a>

            <a href="" class="btn vertical-button hover-india-alt" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_India.png" width="20" height="20" />
              </span>
              Hindi
            </a>

            <a href="" class="btn vertical-button hover-white-alt" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Japan.png" width="20" height="20" />
              </span>
              Japanese
            </a>

            <a href="" class="btn vertical-button hover-orange" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <img src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/128/Flag_of_Spain.png" width="20" height="20" />
              </span>
              Spanish
            </a>
          </div>
        </div>
      </div>
    </div> -->
    <!--Language Swithcer Ends-->

    <!--Quick Menu-->
    <div class="dropdown" id="dashnav-btn">
      <a href="#" data-toggle="dropdown" data-placement="bottom" class="popover-button-header tooltip-button" title="Dashboard Quick Menu">
        <i class="far fa-th" style="color: #fff; opacity: 0.8; font-size: 20px"></i>
      </a>
      <div class="dropdown-menu float-right">
        <div class="box-sm">
          <div class="divider"></div>
          <div class="pad5T pad5B pad10L dashboard-buttons clearfix">
            <a routerLink="product" class="btn vertical-button remove-border btn-success" title="Product List">
              <span class="fas fa-separator-vertical pad0A medium">
                <i class="far fa-cubes opacity-80 font-size-20"></i>
              </span>
              {{ 'produits' }}
            </a>

            <a routerLink="sell/new" class="btn vertical-button remove-border btn-info" title="Add New Sell">
              <span class="fas fa-separator-vertical pad0A medium">
                <i class="far fa-shopping-cart opacity-80 font-size-20"></i>
              </span>
              <i class="fa fa-plus"></i>
              {{ 'Vente' }}
            </a>
            <a routerLink="sell" class="btn vertical-button remove-border btn-danger" title="Sells List">
              <span class="fas fa-separator-vertical pad0A medium">
                <i class="far fa-file-excel-o opacity-80 font-size-20"></i>
              </span>
              {{ 'ventes' }}
            </a>
            <a routerLink="transaction" class="btn vertical-button remove-border btn-purple" title="Transaction List">
              <span class="fas fa-separator-vertical pad0A medium">
                <i class="far fa-money opacity-80 font-size-20"></i>
              </span>
              {{ 'transaction' }}
            </a>
            <a routerLink="purchase/new" class="btn vertical-button remove-border btn-azure" title="">
              <span class="fas fa-separator-vertical pad0A medium">
                <i class="far fa-ship opacity-80 font-size-20"></i>
              </span>
              <i class="fa fa-plus"></i>
              {{ 'achat' }}
            </a>
            <a routerLink="purchase" class="btn vertical-button remove-border btn-yellow" title="Purchase List">
              <span class="fas fa-separator-vertical pad0A medium">
                <i class="far fa-file opacity-80 font-size-20"></i>
              </span>
              {{ 'achat liste' }}
            </a>
            <a
              routerLink="person/client/new"
              class="btn vertical-button remove-border"
              title="Add New Customer"
              style="background-color: #4ecd00 !important; color: #fff !important"
            >
              <span class="fas fa-separator-vertical pad0A medium">
                <i class="far fa-user opacity-80 font-size-20"></i>
              </span>
              <i class="fa fa-plus"></i>
              {{ 'Client' }}
            </a>
            <!-- <a href="" class="btn vertical-button remove-border btn-black-opacity" title="'expense">
              <span class="fas fa-separator-vertical pad0A medium">
                <i class="far fa-usd opacity-80 font-size-20"></i>
              </span>
              {{ 'expense' }}
            </a>
            <a href="" class="btn vertical-button remove-border btn-warning" title="'settings'}}">
              <span class="fas fa-separator-vertical pad0A medium">
                <i class="fas fa-cog opacity-80 font-size-20"></i>
              </span>
              {{ 'paramétre' }}
            </a> -->
          </div>
        </div>
      </div>
    </div>
    <!--Quick Menu Ends-->

    <!-- <a class="header-btn tooltip-button hidden-xs" data-placement="bottom" id="logout-btn" href="" title="Lock">
      <i class="far fa-lock" style="color: #fff; opacity: 0.8; font-size: 20px"></i>
    </a> -->
  </div>
  <!-- #header-nav-right -->
</div>
<!-- header ends -->

<!-- Modal for cash register, if cash if not opened yet -->
<!-- <div class="modal fade" id="myCashStatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        {{ 'csrf_field()' }}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">
            {{'core.cash_is_not_open_yet}}
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>
              {{ 'core.cash_open_label' }}
            </label>
            <input type="text" class="form-control" name="cash_in_hands" value="0" onkeypress="" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<!--Modal ends-->
<!-- 

<script>
  function profitCalc() {
      var profit = {{todayProfit()}};
     swal({
        title: {!! json_encode(trans('core.todays_profit')) !!},
        text: "{{settings('currency_code')}} " + profit,
        imageUrl: '/img/profit.jpeg',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Details',
        cancelButtonText: 'Close!',
        buttonsStyling: true
      }).then(function () {
        window.location.href = {!! json_encode(route("profit.details")) !!};
      }, function (dismiss) {
        // dismiss can be 'cancel', 'overlay',
        // 'close', and 'timer'
        if (dismiss === 'close') {
          swal(
            'close',
            'Done',
            'error'
          )
        }
      })
  }

  function cashCalc() {
      var cash = {{cashNow()}};
     swal({
        title: {!! json_encode(trans('core.now_in_cash')) !!},
        text: "{{settings('currency_code')}} "+ cash,
        imageUrl: '/img/cash.jpg',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Details',
        cancelButtonText: 'Close!',
        buttonsStyling: true
      }).then(function () {
        window.location.href = {!! json_encode(route("cash.details")) !!};
      }, function (dismiss) {
        // dismiss can be 'cancel', 'overlay',
        // 'close', and 'timer'
        if (dismiss === 'close') {
          swal(
            'close',
            'Done.',
            'error'
          )
        }
      })
  }
</script>

 -->
