<!-- <div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Welcome, Java Hipster!</span> (Intellpos)</h1>

    <p class="lead">This is your homepage</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>If you want to </span>
        <a class="alert-link" (click)="login()">sign in</a
        ><span
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register">Register a new account</a>
      </div>
    </div>

    <p>If you have any question on JHipster:</p>

    <ul>
      <li><a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer">JHipster homepage</a></li>
      <li>
        <a href="https://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener noreferrer">JHipster on Stack Overflow</a>
      </li>
      <li>
        <a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener noreferrer"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">JHipster public chat room</a>
      </li>
      <li><a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer">follow @jhipster on Twitter</a></li>
    </ul>

    <p>
      <span>If you like JHipster, don't forget to give us a star on</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a>!
    </p>
  </div>
</div>
 -->
<div id="loading" style="top: -250px !important" *ngIf="false">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div id="page-title">
  <h3>
    Intelle POS
    <small style="font-size: 12px; letter-spacing: 2px" class="hidden-xs">
      <b>my branch</b>
    </small>
  </h3>
</div>
<div class="panel">
  <div class="panel-body">
    <div class="row">
      <!--Total invoices today-->
      <div class="col-md-4 col-sm-6 col-xs-12 animated headShake">
        <div class="tile-box tile-box-alt bg-gradient-9 font-white">
          <div class="tile-header">VENTES TOTALES (AUJOURD'HUI)</div>
          <div class="tile-content-wrapper">
            <i class="glyph-icon fa fa-shopping-cart"></i>
            <div class="tile-content">
              <span>
                {{ sellTodayData.quantite ?? 0 }} articles
                <small> ( {{ (sellTodayData.total ?? 0).toFixed(2) }} dh ) </small>
              </span>
            </div>
          </div>
          <a routerLink="/sell/today" class="tile-footer tooltip-button" data-placement="bottom" title="View Invoices">
            Voir les factures
            <i class="glyph-icon icon-arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- /.col -->
      <!--Ends-->

      <!--Total bills for today-->
      <div class="col-md-4 col-sm-6 col-xs-12 animated headShake">
        <div class="tile-box tile-box-alt bg-blue font-white">
          <div class="tile-header">TOTAL DES ACHATS (AUJOURD'HUI)</div>
          <div class="tile-content-wrapper">
            <i class="glyph-icon fa fa-ship"></i>
            <div class="tile-content">
              <span>
                {{ purchaseTodayData.quantite ?? 0 }} articles
                <small> ( {{ (purchaseTodayData.total ?? 0).toFixed(2) }} dh ) </small>
              </span>
            </div>
          </div>
          <a routerLink="/purchase/today" class="tile-footer tooltip-button" data-placement="bottom" title="View Bills">
            Voir les factures
            <i class="glyph-icon icon-arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- /.col -->
      <!--Total bill for today ends-->

      <!--Total cash received today-->
      <div class="col-md-4 col-sm-6 col-xs-12 animated headShake">
        <div class="tile-box tile-box-alt bg-gradient-9 font-white">
          <div class="tile-header">TRANSACTIONS (AUJOURD'HUI)</div>
          <div class="tile-content-wrapper">
            <i class="glyph-icon fa fa-money"></i>
            <div class="tile-content">
              <span> {{ todayTransactionsAmount.toFixed(2) }} dh </span>
              <small>&nbsp;</small>
            </div>
          </div>
          <a routerLink="/transaction/today" class="tile-footer tooltip-button" data-placement="bottom" title="Voir les détails">
            Voir les détails
            <i class="glyph-icon icon-arrow-right"></i>
          </a>
        </div>
      </div>
      <!-- /.col -->

      <!--Ends-->
    </div>
    <!-- @endif -->

    <!-- Home design 2 ends -->

    <hr />

    <!-- Chart -->
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="dashboard-box dashboard-box-chart bg-white content-box">
          <div class="content-wrapper">
            <div class="header">Sell Vs Purchase</div>
            <jhi-sell-purchase-item></jhi-sell-purchase-item>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="dashboard-box dashboard-box-chart bg-white content-box">
          <div class="content-wrapper">
            <div class="header">Stock Value</div>
            <jhi-stock-item></jhi-stock-item>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="dashboard-box dashboard-box-chart bg-white content-box">
          <div class="content-wrapper">
            <div class="header">Hot Products</div>
            <canvas id="productChart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">
        <div class="dashboard-box dashboard-box-chart bg-white content-box">
          <div class="content-wrapper">
            <div class="header">Profit</div>
            <!-- @if(auth()->user()->can('profit.graph')) -->
            <canvas id="profit"></canvas>
            <!--  @endif -->
          </div>
        </div>
      </div>
    </div>
    <!-- CHART ENDS-->
  </div>
</div>
