<div id="page-title">
  <h3>Transaction List</h3>
</div>
<div class="panel">
  <!-- <div class="panel-heading">
      <a class="btn btn-warning btn-alt btn-xs"
        ><i class="fa fa-print"></i> Print</a
      >
  
      <a class="btn btn-primary btn-alt btn-xs pull-right" id="searchButton" style="border-radius: 0px !important">
        <i class="fa fa-search"></i>
        Search
      </a>
  
      <input type="button" class="btn btn-alt bg-purple btn-xs" onclick="showSummary()" id="summaryBtn" value="Summary" />
    </div> -->

  <div class="panel-body">
    <div id="summaryDiv" style="display: none">
      <table style="width: 100%" class="table table-bordered">
        <tbody>
          <tr style="background-color: #f8f9f9; border: 1px solid #ddd">
            <td style="text-align: right">
              <b>Total Debit :</b>
            </td>
            <td>DH 8200.00</td>
          </tr>

          <tr style="background-color: #f8f9f9; border: 2px solid #ddd">
            <td style="text-align: right">
              <b>Total Credit</b>
            </td>
            <td>DH 118390.00</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive" id="tableDIv">
      <table class="table table-bordered table-striped">
        <thead class="bg-gradient-9">
          <tr>
            <td class="text-center font-white">Date</td>
            <td class="text-center font-white">Invoice No</td>
            <td class="text-center font-white">Name</td>
            <td class="text-center font-white">Amount</td>
            <td class="text-center font-white">Payment Method</td>
            <td class="text-center font-white">Type</td>
            <td class="text-center font-white">Print Receipt</td>
          </tr>
        </thead>

        <tbody style="background-color: #fff">
          <tr *ngFor="let payment of payments">
            <td class="text-center tooltip-button" data-placement="bottom" title="">
              {{ payment.createdAt | formatMediumDatetime }}
            </td>

            <td class="text-center">{{ payment.referenceNo ?? '-' }}</td>

            <td class="text-center">{{ payment.person?.firstName + ' ' + payment.person?.lastName }}</td>

            <td class="text-center">
              {{ payment.amount }}
              DH
            </td>

            <td class="text-center">Cash</td>

            <td class="text-center">
              <span
                class="font-green"
                [ngClass]="{
                  'font-green': payment.type === paymentTypes.CREDIT,
                  'font-red': payment.type === paymentTypes.DEBIT
                }"
              >
                {{ payment.type === paymentTypes.CREDIT ? 'Credit' : 'Debit' }}
              </span>
            </td>

            <td class="text-center">
              <a (click)="generateBill(payment)" class="btn btn-border btn-alt border-orange btn-link font-orange btn-xs">
                <i class="fa fa-print"></i>
                Print
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <!--Pagination-->
      <div class="pull-right"></div>
      <!--Ends-->
    </div>
    <div class="row justify-content-center" style="text-align: center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
