<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="expenseCategorie">
      <h2 data-cy="expenseCategorieDetailsHeading"><span>Expense Categorie</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ expenseCategorie.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ expenseCategorie.name }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ expenseCategorie.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
          <span>{{ expenseCategorie.updatedAt | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/expense-categorie', expenseCategorie.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
